.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10vh;
  /* padding: 0 20vw; */
}

.titleSection {
  display: flex;
  align-self: flex-start;
}

.heading {
  padding: 1rem 5vw 1rem 1rem;
  align-self: flex-start;
}
